# Version 2

jinja2
prance
openapi_spec_validator
djangorestframework-camel-case
# djangorestframework-camel-case needs Django and djangorestframework
Django
djangorestframework
-e git+https://github.com/pik-software/pik-django-utils.git@add-drf#egg=pik_django_utils